.ImportMusicDialog{
	-fx-background-color: #545454;

}

.button{
	-fx-opacity: 0.8;
}

.button:hover{
	-fx-opacity: 1;
}

.progress-bar > .track {
	-fx-background-color: #f2f2f2;
	-fx-opacity: 0.6;
}

.progress-bar > .bar {
	-fx-background-color: #dadada;
	-fx-opacity: 0.6;
}